body{
    background-color:#2e99b0;
    font-family: 'Pacifico', cursive;
}
.bg-yellow{
    background-color:#fcd77f;
}
.bg-red{
    background-color:#ff2e4c;
}
.bg-dark-blue{
    background-color:#1e1548;
}
.b-border{
    border-bottom: 20px solid #1e1548;
}
.t-border{
    border-top: 20px solid #1e1548;
}

#posion-ivy{
    height:40rem;
}
#harley-quinn{
    height:40rem;
}
.bg-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
